
.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    gap: .8rem;
    padding: 2rem;
    border: 2px solid #6278F7;
    border-radius: .8rem;
}

.login-form input {
    padding: .6rem;
    border-radius: .4rem;
    border: 1px solid #6278F7;
}

.login-form .entrar {
    background-color: #6278F7;
    color: #FFF;
}

.cadastro{
    background-color: #FFFFFF;
    border: 1px solid #6278F7;
    color: #6278F7;
    width: 100%;
}